.container-background
  background-image: url("../../../assets/images/travel-bg-img.jpg")
  background-color: #cccccc
  background-size: 100%
  height: 100%
.container-filter
  background-color: #6666664d
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  .dum-text
    font-family: Roboto, 'sans-serif'
    font-weight: bold
    font-size: 96px
  .txt-one
    color: #54fedf
  .txt-two
    color: #0099ff
  .txt-three
    color: #8f1beb