.container-background 
  position: relative
  height: 90%

.upper-background 
  background-color: #f0f3f6
  height: 50%

.lower-background 
  height: 50%
  bottom: 0
  background-color: #8f1beb

.contact-container 
  position: absolute
  width: 60%
  height: auto
  background-color: #fff
  border-radius: 30px
  margin: 8% 20%
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px

.contact-title 
  font-family: 'Lora', sans-serif
  font-size: 35px

.comment-container 
  width: 40%
  font-size: 16px
  color: #00000080
  line-height: 28px

.comment-text 
  font-family: 'Lato', sans-serif
  width: 80%
  font-weight: 300

.input-container 
  width: 55%

.input-contact 
  width: 100%
  background-color: #f2f2f2
  border: none
  outline: none
  padding: 8px
  border-radius: 10px

.flex-input 
  width: 49%

      
.input-contact::placeholder 
  font-size: 12
  font-weight: 300

label 
  display: block
  font-size: 14px
  font-weight: 300

.button-contact
  background-color: #8f1beb8c
  border: none
  color: #fff
  padding: 8px
  border-radius: 10px
  font-weight: 500
  transition: all .3s ease

.button-contact:hover
  background-color: #8f1beb
