<div class="section-container d-flex flex-column ">
  <div class="title-container w-100 d-flex justify-content-center align-items-center">
    <div class="title-width">
      <p class="h3 my-5 text-center">
        Un nuevo concepto de REINVENCIÓN
      </p>
    </div>
  </div>
  
  <div class="image-container"></div>
  
  <div class="container container">
    <div class="d-flex flex-wrap justify-content-center align-content-center card-container">
      <div class="card-style m-2 d-flex flex-column justify-content-center align-items-center text-center" 
        *ngFor="let card of cardContent">
        <mat-icon class="mb-1">{{card.icon}}</mat-icon>
        <p class="m-0 card-title">{{card.title}}</p>
        <p class="m-0 card-body-text">{{card.body}}</p>
      </div>
    </div>
  </div>
</div>