<div class="container-background d-flex">
  <div class="w-50"></div>
  <div class="w-50 mt-5 text-center">
    <p class="h3 component-subtitle">Que más dicen sobre nosotros</p>

    <div class="comment-container">
      <div class="quote-icon">
        <!-- <SvgIcon component={FormatQuoteIcon} style={{ fontSize: 64, color: "#8f1beb" }} /> -->
      </div>
      <p class="comment-text mb-3">
        «La formación con MENTHA fue muy enriquecedora. Después de explicar la teoría, hicimos ejercicios con casos prácticos reales muy útiles, que clarificaron dudas y ayudaron a consolidar lo visto.»
      </p>
      <div class="author-container mt-1 d-flex justify-content-around">
        <p class="text-bold w-25">
          Marcelino Envases SRL
        </p>
        <div class="img-container"></div>
        <div>
          <p class="m-0 text-bold">
            Frank Kinney
          </p>
          <p>
            Financial Director
          </p>
        </div>
      </div>
    </div>

    <button class="button my-5">
      CONTACTANOS
    </button>
  </div>
</div>