<div class="container-background d-flex align-items-center">
  <div class="fill-div"></div>
  <div class="content-div mt-5 text-center d-flex flex-column justify-content-center align-items-center">
    <div class="content-container d-flex flex-column align-items-center">
      <p class="h3 mb-4 component-subtitle">¿Qué más dicen sobre nosotros?</p>
  
      <div class="comment-container">
        <div class="quote-icon d-flex w-100">
          <mat-icon>format_quote</mat-icon>
        </div>
        <p class="comment-text mb-3">
          «La formación con MENTHA fue muy enriquecedora. Después de explicar la teoría, hicimos ejercicios con casos prácticos reales muy útiles, que clarificaron dudas y ayudaron a consolidar lo visto.»
        </p>
        <div class="author-container mt-1 d-flex justify-content-around">
          <p class="m-0 text-bold">Marcelino Envases SRL</p>
          <div class="img-container"></div>
          <div>
            <p class="m-0 text-bold">Frank Kinney</p>
            <p class="m-0">Financial Director</p>
          </div>
        </div>
      </div>
  
      <button class="button my-5">SOLUCIONES</button>
    </div>
  </div>
</div>