.container-background
  background-image: url("../../../assets/images/homepage-min.jpg")
  background-position: 50% 80%
  background-color: #cccccc
  background-size: cover
  background-attachment: fixed
  padding-top: 74px
  height: 135vh

.bg-opacity
  background-color: #17171760
  height: 135vh

.first-block
  height: 98vh

.img-container
  height: 300px
  transform: translateY(-70px)

.brand-name, .brand-slogan
  text-align: center
  color: #fff

.brand-logo
  height: 415px

.brand-name 
  font-family: 'Josefin Sans', sans-serif
  font-size: 60px

.brand-slogan
  font-family: 'Lora', sans-serif
  font-size: 50px
  font-weight: bold

.button-container
  margin-bottom: 32px
  .button
    margin: 0 20px
    border-radius: 50px
    padding: 8px 32px
    font-weight: bold
    height: 44px
    letter-spacing: 1.5px
    border: 2px solid #ffffff
    background-color: #ffffff50
    color: #ffffff
    transition: all .2s ease-out
    &:hover
      border: 2px solid #8f1beb
      background-color: #8f1beb50

.custom-shape-divider-bottom-1656876317
  position: absolute
  bottom: -35.1vh
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0
  transform: rotate(180deg)

.custom-shape-divider-bottom-1656876317 svg
  position: relative
  display: block
  width: calc(118% + 1.3px)
  height: 106px
  transform: rotateY(180deg)

.custom-shape-divider-bottom-1656876317 .shape-fill
  fill: #F0F3F6

@media screen and ( max-width: 768px )
  .button-container
    width: 100%
    flex-direction: column
    align-items: center
    .button
      width: 90%
      margin: 12px 0

@media screen and ( max-width: 425px )
  .brand-logo
    height: 315px
