<div class="container-background d-flex flex-column justify-content-between">
  <div class="d-flex flex-column align-items-center bg-opacity">
    <img src="../../../assets/images/logo-mentha.png" alt="brand-logo" class="mt-2 brand-logo"/>
    <p class="h4 mb-4 brand-name">
      MENTHA
    </p>
    <p class="h3 mb-5 brand-slogan">
      Always Ready to make Impact Happens.
    </p>

    <div class="d-flex">
      <button class="button m-5">
        LEAVES
      </button>
      <button class="button m-5">
        SOLUCIONES
      </button>
      <button class="button m-5">
        CONTACTO
      </button>
    </div>
  </div>
</div>