.container-background
  background-image: url("../../../assets/images/homepage-min.jpg")
  background-position: 50% 80%
  background-color: #cccccc
  background-size: 100%
  background-attachment: fixed
  padding-top: 74px
  height: 125%

.bg-opacity
  height: 125%
  background-color: #17171760

.brand-name, .brand-slogan
  color: #fff

.brand-logo
  height: 415px

.brand-name 
  font-family: 'Josefin Sans', sans-serif
  font-size: 60px

.brand-slogan
  font-family: 'Lora', sans-serif
  font-size: 50px
  font-weight: bold

.button
  border-radius: 50px
  padding: 8px 32px
  font-weight: bold
  letter-spacing: 1.5px
  border: 2px solid #ffffff
  background-color: #ffffff50
  color: #ffffff
  transition: all .2s ease-out

.button:hover
  border: 2px solid #8f1beb
  background-color: #8f1beb50